ALTER TABLE tg_settings DISABLE ROW LEVEL SECURITY; ALTER TABLE tg_tickets DISABLE ROW LEVEL SECURITY; ALTER TABLE tg_ticket_messages DISABLE ROW LEVEL SECURITY; ALTER TABLE tg_orders DISABLE ROW LEVEL SECURITY; ALTER TABLE tg_order_items DISABLE ROW LEVEL SECURITY;
